@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply cursor-pointer font-normal hover:scale-125 hover:font-semibold transition-all duration-150 ease-out text-light-text dark:text-dark-text;
  }

  .heroBtn {
    @apply font-inconsolata ml-1 bg-dark-secondary dark:bg-light-background py-[5px] px-3 rounded-md hover:bg-hover-light hover:text-light-accent dark:hover:bg-hover-dark dark:hover:text-dark-text dark:text-light-text text-dark-text transition-all duration-500 cursor-pointer ease-out;
  }

  .pageLayout {
    @apply md:max-w-3xl mx-6 lg:mx-auto pt-0 md:pt-10;
  }

  .pageTitle {
    @apply text-3xl md:text-5xl font-extrabold text-light-text dark:text-dark-text mb-4 md:mb-8;
  }

  .pageContent {
    @apply mt-4 md:mt-8;
  }
}

@layer utilities {
  .textAreaContact {
    resize: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
