@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply cursor-pointer hover:scale-125 hover:font-semibold transition-all duration-150 ease-out;
  }

  .heroBtn {
    @apply font-inconsolata ml-1 bg-gray-200 py-[5px] px-3 rounded-md hover:bg-indigo-700 hover:text-white text-gray-800 transition-all duration-500 cursor-pointer ease-out;
  }

  .pageLayout {
    @apply md:max-w-5xl mx-6 lg:mx-auto pt-0 md:pt-10;
  }

  .pageTitle {
    @apply text-3xl md:text-5xl font-extrabold;
  }

  .pageContent {
    @apply mt-4 md:mt-8;
  }
}

@layer utilities {
  .textAreaContact {
    resize: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
