@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply cursor-pointer hover:scale-125 hover:font-semibold transition-all duration-150 ease-out;
  }

  .heroBtn {
    @apply font-inconsolata ml-1 bg-gray-200 py-[5px] px-3 rounded-md hover:bg-indigo-700 hover:text-white text-gray-800 transition-all duration-500 cursor-pointer ease-out
  }

  .pageLayout {
    @apply md:max-w-5xl mx-6 lg:mx-auto pt-0 md:pt-10;
  }

  .pageTitle {
    @apply text-3xl md:text-5xl font-extrabold pb-4 md:pb-8;
  }
}

@layer utilities {
  .textAreaContact {
    resize: none;
  }
  /* ,
  input::placeholder {
    padding-top: 10px;
    padding-left: 10px;
  } */
}
